package main

 
templ Home() {
	<div>Hello, World!</div>
	<button hx-get="/todo/new" hx-target="body">new</button>
}

templ TodoNew() {
	<div>new</div>
	<button hx-get="/" hx-target="body">back</button>
}