package web

import (
	"log"
	"net/http"
	"templeruins/core"
)

var commercialImpact = core.CommercialImpactRead()

func handleEditCommercialImpact(w http.ResponseWriter, r *http.Request) {
	EditCommercialImpact(commercialImpact).Render(r.Context(), w)
}

templ EditCommercialImpact(old string) {
	<form hx-post="/cv/update/commercialImpact" hx-target="form" hx-swap="outerHTML">
		<textarea cols="80" rows="7" name="commercialImpact" id="commercialImpact">{ old }</textarea>
		<button type="submit">Submit</button>
	</form>
}

func handleUpdateCommercialImpact(w http.ResponseWriter, r *http.Request) {
	commercialImpact = r.FormValue("commercialImpact")
	core.CommercialImpactSave(commercialImpact)
	log.Printf("new %s", commercialImpact)
	CommercialImpact(commercialImpact).Render(r.Context(), w)
}

func init() {
	http.HandleFunc("/cv/edit/commercialImpact", handleEditCommercialImpact)
	http.HandleFunc("/cv/update/commercialImpact", handleUpdateCommercialImpact)
}

templ CommercialImpact(commercialImpact string) {
	<section id="commercial_impact">
		<h2>Commercial Impact Highlights</h2>
		<ul hx-post="/cv/edit/commercialImpact" hx-trigger="click" hx-swap="outerHTML" hx-target="#commercial_impact">
			for _, item := range markup(commercialImpact) {
				<li>
					@templ.Raw(item)
				</li>
			}
		</ul>
	</section>
}
