package web
	
import ("templeruins/core")
templ Contact() {
	<section id="contact">
		<p>
			@LinkedIn(core.LinkeInRead())
			<span class="dash"></span>
			@Email(core.EmailRead())
			<span class="dash"></span>
			@GitHub(core.GitHubRead())
		</p>
	</section>
}