package web

templ Contact() {
	<section id="contact">
		<p>
			@LinkedIn("https://www.linkedin.com/in/ulfdellbruegge/")
			<span class="dash"></span>
			@Email("ulfdellbruegge@gmail.com")
			<span class="dash"></span>
			@GitHub("https://github.com/xintamosaik")
		</p>
	</section>
}