package web

templ Contact() {
	<section id="contact">
		<p>
			@LinkedIn("https://www.linkedin.com/in/ulfdellbruegge/")
			<span class="dash"></span>
			<span>
				<a href="mailto:ulfdellbruegge@gmail.com">
					ulfdellbruegge@gmail.com
				</a>
			</span>
			<span class="dash"></span>
			@GitHub("https://github.com/xintamosaik")
		</p>
	</section>
}