package web



templ Education() {
	<section>
		<h2>Education</h2>
		<div class="education entry">
			<h3>
				<span>Master of Arts in Sociology</span>
				<span class="dash"></span>
				<span>Universität Bielefeld</span>
			</h3>
			<h4>
				<span>September 2021</span>
				<span class="dash"></span>
				<span>Bielefeld, NRW, Germany</span>
			</h4>
			<p>Specialization: Qualitative Studies and Workplace Studies/Ethnomethodology</p>
		</div>
	</section>
}
