
package web

import "templeruins/persistence/files"

templ Job(job files.Job) {
	<div class="job entry">
		<h3>
			<span>{ job.Role }</span>
			<span class="dash"></span>
			<span>{ job.Company }</span>
		</h3>
		<h4>
			<span>{ job.StartMonth }/{ job.StartYear }</span> - 
			<span>{ job.EndMonth }/{ job.EndYear }</span>
			<span class="dash"></span>
			<span>{ job.Location }</span>
		</h4>
		<ul>
			for _, item := range job.Highlights {
				<li>
					{ strongify(item) }
				</li>
			}
		</ul>
	</div>
}

templ Experience(experience []files.Job) {
	<section id="experience">
		<h2>Experience</h2>
		for _, item := range experience {
			<li>
				@Job(item)
			</li>
		}
	</section>
}
