
package web

import "templeruins/persistence/files"

templ Experience(experience []files.Job) {
	<section id="experience">
		<h2>Experience</h2>
		for _, item := range experience {
			<div>
				@Job(item)
			</div>
		}
	</section>
}
