package web

import "templeruins/core"

templ Home() {
	<main>
		@Title()
		@Subtitle()
		@Relocation()
		@Contact()
		@CommercialImpact(core.CommercialImpactRead())
		@Summary(core.SummaryRead())
		@Experience(core.ExperienceRead())
		@Skills()
		@Education()
	</main>
}
