package web

import (
	"context"
	"html/template"
	"log"
	"net/http"
)

type Reaction struct {
	url      string
	callback func(w http.ResponseWriter, r *http.Request)
}

func Init() {
	fs := http.FileServer(http.Dir("web/static/"))
	http.Handle("/static/", http.StripPrefix("/static/", fs))

	home := Home()
	homeHTML, err := templ.ToGoHTML(context.Background(), home)
	if err != nil {
		log.Fatalf("failed to convert to html: %v", err)
	}
	
	index := template.Must(template.ParseFiles("index.html"))

	http.HandleFunc("/", func(w http.ResponseWriter, r *http.Request) {
		index.Execute(w, homeHTML)
	})

	http.ListenAndServe(":8080", nil)
}

