package web

import (
	"log"
	"net/http"
	"strconv"
	"templeruins/core"
	"templeruins/persistence/files"
)

var job = core.JobRead("0")

func handleEditJob(w http.ResponseWriter, r *http.Request) {
	id := r.PathValue("id")
	log.Println(id)
	EditJob(core.JobRead(id)).Render(r.Context(), w)
}

templ EditJob(old files.Job) {
	<form hx-post="/cv/update/job" hx-target="form" hx-swap="outerHTML">
		<input type="hidden" name="ID" value={ old.ID }/>
		<p>
			<label { "for" }="Company">
				Company
				<br/>
				<input type="text" name="Company" id="Company" value={ old.Company }/>
			</label>
		</p>
		<p>
			<label { "for" }="Location">
				Location
				<br/>
				<input type="text" name="Location" id="Location" value={ old.Location }/>
			</label>
		</p>
		<p>
			<label { "for" }="Role">
				Role
				<br/>
				<input type="text" name="Role" id="Role" value={ old.Role }/>
			</label>
		</p>
		<p>
			<label { "for" }="StartYear">
				StartYear
				<br />
				<input type="number" min="1900" max="9999" name="StartYear" id="StartYear" value={ old.StartYear }/>
			</label>
		</p>
		<p>
			<label { "for" }="StartMonth">
				StartMonth
				<br />
				<input type="number" min="1" max="12" name="StartMonth" id="StartMonth" value={ old.StartMonth }/>
			</label>
		</p>
		<p>
			<label { "for" }="IsCurrent">
				IsCurrent
				<br />
				 
				<label { "for" }="current">Yes</label>
				<input type="radio" name="IsCurrent" id="current" value="true" onClick="window.formjobend.hidden = true" if old.IsCurrent { checked }/>
				<label { "for" }="old">No</label>
				<input type="radio" name="IsCurrent" id="old" value="false" onClick="window.formjobend.hidden = false" if old.IsCurrent == false { checked }/>
				 
			</label>
		</p>
	 
		
		<div id="formjobend" if old.IsCurrent { hidden }>
			<p>
				<label { "for" }="EndYear">
					EndYear
					<br/>
					<input type="number" min="1900" max="9999" name="EndYear" id="EndYear" value={ old.EndYear }/>
				</label>
			</p>
			<p>
				<label { "for" }="EndMonth">
					EndMonth
					<br/>
					<input type="number" min="1" max="12" name="EndMonth" id="EndMonth" value={ old.EndMonth }/>
				</label>
			</p>
		</div>
		 
		<p>
			<label { "for" }="Highlights">
				highlights
				<br/>
				<textarea cols="80" rows="7" name="Highlights" id="Highlights">
					for _, item := range old.Highlights {
						+ { item }
					}
				</textarea>
			</label>
		</p>
		<button type="submit">Submit</button>
	</form>
}

func handleUpdateJob(w http.ResponseWriter, r *http.Request) {
	// 1. Parse standard primitive fields
	id := r.FormValue("ID")
	company := r.FormValue("Company")   // Swapped out "subject" for descriptive naming
	location := r.FormValue("Location") // Swapped out "message"
	role := r.FormValue("Role")
	isCurrent := r.FormValue("isCurrent") == "true"
	startYear, _ := strconv.Atoi(r.FormValue("startYear"))
	startMonth, _ := strconv.Atoi(r.FormValue("startMonth"))
	endYear, _ := strconv.Atoi(r.FormValue("startYear"))
	endMonth, _ := strconv.Atoi(r.FormValue("startMonth"))
	log.Println(r.FormValue("Highlights"))
	highlights := []string{r.FormValue("Highlights")}

	// 3. Construct your clean domain block
	job := files.Job{
		ID:         id,
		Company:    company,
		Location:   location,
		Role:       role,
		IsCurrent:  isCurrent,
		StartYear:  startYear,
		StartMonth: startMonth,
		EndYear:    endYear,
		EndMonth:   endMonth,
		Highlights: highlights,
	}

	// 4. Update and stream the component update back to HTMX
	core.JobUpdate(job)
	Job(job).Render(r.Context(), w)
}

func init() {
	http.HandleFunc("/cv/edit/{id}/job", handleEditJob)
	http.HandleFunc("/cv/update/job", handleUpdateJob)
}

templ Job(job files.Job) {
	<div class="job entry" hx-post={ "/cv/edit/" + job.ID + "/job" } hx-trigger="click" hx-swap="outerHTML">
		<h3>
			<span>{ job.Role }</span>
			<span class="dash"></span>
			<span>{ job.Company }</span>
		</h3>
		<h4>
			<span>{ strconv.Itoa(job.StartMonth) }/{ strconv.Itoa(job.StartYear) }</span> - 
			<span>{ strconv.Itoa(job.EndMonth) }/{ strconv.Itoa(job.EndYear) }</span>
			<span class="dash"></span>
			<span>{ job.Location }</span>
		</h4>
		<ul>
			for _, item := range job.Highlights {
				<li>
					@templ.Raw(strongify(item))
				</li>
			}
		</ul>
	</div>
}
