package web

import "net/http"
import "templeruins/core"

var name = core.NameRead()

func handleEditName(w http.ResponseWriter, r *http.Request) {
	EditName(name).Render(r.Context(), w)
}

templ EditName(old string) {
	<form hx-post="/cv/update/name" hx-target="form" hx-swap="outerHTML">
		<input name="name" id="name" value={ old }/>
	</form>
}

func handleUpdateName(w http.ResponseWriter, r *http.Request) {
	new := r.FormValue("name")
	core.NameSave(new)
	Name(new).Render(r.Context(), w)
}

templ Name(current string) {
	<span hx-post="/cv/edit/name" hx-trigger="click" hx-swap="outerHTML">{ current }</span>
}

func init() {
	http.HandleFunc("/cv/edit/name", handleEditName)
	http.HandleFunc("/cv/update/name", handleUpdateName)
}
