package web

templ Relocation() {
	<section id="contact">
		<p>
			<span>
				Relocating to London (Skilled Worker visa route)
			</span>
			<span class="dash"></span>
			<span>
				Open to sponsorship
			</span>
		</p>
	</section>
}
