package web

import "net/http"

var role = "SOFTWARE ENGINEER (FULL-STACK / TYPESCRIPT)"

func handleEditRole(w http.ResponseWriter, r *http.Request) {
	EditRole(role).Render(r.Context(), w)
}

templ EditRole(old string) {
	<form hx-post="/cv/update/role" hx-target="form" hx-swap="outerHTML">
		<input name="role" id="role" value={ old }/>
	</form>
}

func handleUpdateRole(w http.ResponseWriter, r *http.Request) {
	new := r.FormValue("role")
	Role(new).Render(r.Context(), w)
}

templ Role(current string) {
	<span hx-post="/cv/edit/role" hx-trigger="click" hx-swap="outerHTML">{ current } </span>
}

func init() {
	http.HandleFunc("/cv/edit/role", handleEditRole)
	http.HandleFunc("/cv/update/role", handleUpdateRole)
}
